/* 组件层只允许用下面这些 $ 变量，不准再写 # 号 */
$primary: #0056d2;
$primary-dark: #004db8;
$primary-light: #f2f6fd;
$warn: #ffc300;
$warn-alpha: rgba(255, 195, 0, 0.3);
$bg-gray: #f2f2f2;
$text: #383838;
$text-gray: #ababab;
$mask: rgba(0, 0, 0, 0.45);