/* 只放原始映射，以后换肤就在这里改 */
:root {
  --color-primary: #0056d2;
  --color-primary-dark: #004db8;
  --color-primary-light: #f2f6fd;
  --color-warn: #ffc300;
  --color-warn-alpha: rgba(255, 195, 0, 0.3);
  --color-bg-gray: #f2f2f2;
  --color-text: #383838;
  --color-text-gray: #ababab;
  --color-mask: rgba(0, 0, 0, 0.45);
}